<?xml version="1.0"?>
<model>
  <name>R2-D2</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Robert Jackson</name>
   <email>robert.jackson@r2os.org</email>
  </author>

  <description>
    Robot description file for customization of licensed full-size R2-D2 props with ROS systems.
  </description>
</model>
